<table id="table_volets">
	<thead>
		<tr>
<!-- 			<th data-binding="id" id="identifiant">Id</th> -->
<!-- 			<th data-binding="nom">Nom</th> -->
			<th data-binding="description">Volet</th>
			<th>Ouvrir</th>
			<th>Fermer</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="v in volets">
<!-- 			<td id="identifiant">{{v.id}}</td> -->
<!-- 			<td>{{v.nom}}</td> -->
			<td>{{v.description}}</td>
			<td id="arrow-up"><input type="button" ng-click="ouvrir(v.id)" value="&#9633;" /></td>
			<td id="arrow-down"><input type="button" ng-click="fermer(v.id)" value="&#9636;" /></td>
		</tr>
	</tbody>
</table>