<table class="table table-striped id="table_volets">
	<thead>
		<tr>
			<th>Volet</th>
			<th>Ouvrir</th>
			<th>Fermer</th>
			<th class="message-column">Message</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="v in volets">
			<td class="tableDescription">{{v.description}}</td>
			<td>
				<button id="up-{{v.id}}" type="button" class="btn btn-default btn-lg" ng-click="ouvrir(v.id)">
				  <span class="glyphicon glyphicon-chevron-up"></span>
				</button>
			</td>
			<td>
				<button id="down-{{v.id}}" type="button" class="btn btn-default btn-lg" ng-click="fermer(v.id)">
				  <span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</td>
			<td>{{messages[v.id]}}</td>
		</tr>
	</tbody>
</table>