body {
	background: #EEEEEE;
	font-family: sans-serif;
}

#header {
	position: absolute;
	top: 0px;
	height: 50px;
	left: 0px;
	right: 0px;
	color: white;
	background-color: gray;
	transition: all 1s;
}

div input {
	cursor: pointer;
	margin: 5px;
	padding: 0px 20px 45px 20px;
	border: 0px solid;
	font-size: 2em;
	color: rgb(255, 255, 255);
	text-overflow: clip;
	text-align: center;
	background: rgb(53, 146, 56);
	height: 40px;
}

div input:hover {
	background: rgb(90, 190, 87);
	transition: all 150ms;
}

div input:active {
	border: 1px solid rgba(180, 180, 180, 0.2);
	background: rgba(77, 168, 74, 1);
	transition: none;
}

table thead {
    font-weight: 100;
    font-size: x-large;
    color: black;
    background: #CCCCCC;
    height: 40px;
}

.tableDescription {
	font-size: x-large;
}

.message-column {
	width: 60%;
}