<table class="table table-striped id="table_volets">
	<thead>
		<tr>
			<th class="shutterColumn">Volet</th>
			<th class="actionColumn">Action</th>
			<th class="messageColumn">Message</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="v in volets">
			<td class="tableDescription">{{v.description}}</td>
			<td>
				<button id="up-{{v.id}}" type="button" class="bouton" ng-click="ouvrir(v.id)" hidden="true">
				  UP
				</button>
				<button id="down-{{v.id}}" type="button" class="bouton" ng-click="fermer(v.id)" hidden="true">
				  DOWN
				</button>
				<img id="loading-{{v.id}}" src="load.gif">
			</td>
			<td class="message">{{messages[v.id]}}</td>
		</tr>
	</tbody>
</table>